@charset "UTF-8";

/**
 * @doc 收货确认单
 * @author Heanes
 * @time 2017-07-08 17:37:22 周六
 */

/**
 * @doc A4纸张大小
 * @author Heanes
 * @time 2017-10-27 10:21:33 周五
 */
$printPaperA4Width:836px;
$printPaperA4Height:1110px;
$printPaperA5Width:836px;
$printPaperA5Height:550px;

@media print {
  .no-print{ display:none;}
}

.print-end-page{
  page-break-after:always;
}

.print-list-handle{
  width:$printPaperA4Width + 50px;
  margin:0 auto;
  .to-print{
    margin-bottom:20px;
    text-align:right;
  }
}

.print-list-wrap{
}
.receipts-delivered-paper{
  padding:10px;
}
/**
 * @doc 横向打印
 */
@page{
  /*size:landscape;*/
}

/**
 * @doc A4纸张大小
 * @author Heanes
 * @time 2017-10-27 10:21:33 周五
 */
.print-paper-a4{
  width:$printPaperA4Width;
  height:$printPaperA4Height;
  margin:0 auto;
}
/**
 * @doc A5纸张大小
 * @author Heanes
 * @time 2017-10-27 10:21:33 周五
 */
.print-paper-a5{
  width:$printPaperA5Width;
  height:$printPaperA5Height;
  margin:0 auto;
}

.print-paper {
  outline: 0;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
  animation: glow 1s ease-in-out;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  background-color:#fff;
  page-break-after: always;
}

.print-paper-footer{
  position:absolute;
  width:100%;
  bottom:20px;
}

$receiptsDeliveredPrintPaddingTop:30px;
$receiptsDeliveredPrintPaddingBottom:50px;
.receipts-delivered-print{
  padding:$receiptsDeliveredPrintPaddingTop $receiptsDeliveredPrintPaddingBottom;
  font-size:14px;
  dl{
    margin:0;
  }
  dd{
    line-height:inherit;
  }
}
.print-paper-content{
  position:relative;
  height:100%;
  padding-bottom:130px;
  page-break-after: always;
}

.print-paper-header{
  h1{margin-bottom:0;}
  .receipts-title{
    display:table;
    width:100%;
    margin-bottom:10px;
  }
  .receipts-title .cell{
    display:table-cell;
    width:33.333%;
    vertical-align:middle;
  }
  .receipts-title .cell .self-service-phone{font-size:18px;}
  .receipts-title .cell h1{font-size:18px;}
  .receipts-delivery-info{display:table;width:100%;margin-bottom:20px;}
  .receipts-delivery-info .cell{display:table-cell;width:33.333%;vertical-align:top;}
  .receipts-delivery-info .cell .h2-field{font-size:18px;font-weight:600;}
  .receipts-delivery-info .cell .delivery-type{text-align:center;margin-bottom:8px;}
  .receipts-delivery-info .ship-warehouse-info{font-weight:500;font-size:16px;}
}

.receipts-data-table{
  font-size:13px;
  table{
    table-layout: fixed;
    font-size:12px;
    thead th{
      text-align:center;
    }
    tbody{
      th,td{
        padding:4px;
        word-break:break-all;
        white-space:nowrap;
        overflow:hidden;
      }
    }
    &.receipt-table{
      td:nth-child(1){
        width:30px;
        text-align:center;
      }
      td:nth-child(2){
        width:80px;
      }
      td:nth-child(3){
        width:220px;
      }
      td:nth-child(4){
        width:80px;
      }
      td:nth-child(5){
        width:80px;
      }
      td:nth-child(6){
        width:80px;
      }
      td:nth-child(7){
        width:80px;
      }
    }

    &.stock-out-table{
      td:nth-child(1){
        width:30px;
        text-align:center;
      }
      td:nth-child(2){
        width:80px;
      }
      td:nth-child(3){
        width:70px;
      }
      td:nth-child(4){
        width:220px;
      }
      td:nth-child(5){
        width:80px;
      }
      td:nth-child(6){
        width:80px;
      }
      td:nth-child(7){
        width:80px;
      }
    }
  }
}

.bar-code .receipts-title .cell{vertical-align:top;}
.bar-code .receipts-delivery-info .cell{vertical-align:bottom;}

.cell dl.data-dl{margin-bottom:8px;}
.cell dl.data-dl:last-child{margin-bottom:0;}
.cell dl.data-dl{display:table;}
.cell dl.data-dl dt{min-width:70px;text-align:right;font-weight:normal;}
.cell dl.data-dl dt,
.cell dl.data-dl dd{display:table-cell;}

.stock-out-footer{
  .total-price{
    text-align:right;
    margin-right:40px;
  }
}

.receipt-footer{
  .receipts-summary, .receipts-signature{
    display:table;
    width:100%;
    .cell{
      display:table-cell;
      line-height:36px;
      white-space:nowrap;
      &.col6{
        width:16.65%;
      }
      &:not(:first-child){
        text-align:center;
      }
    }

    .need-pay-info{
      font-size:20px;
      font-weight:600;
      white-space:nowrap;
    }
  }

  .receipts-remark{
    color:#555;
    .remark-content{
      display:table;
      width:100%;
      font-weight:normal;
      font-size:12px;
      .remark{
        display:table-cell;
        max-width:50%;
      }
    }
  }
}


.print-handle{
  width:$printPaperA4Width;
  text-align:right;
  margin:0 auto 20px;
}

// 头 + 身 + 尾
.head-and-body-and-footer{

}

// 头及身
.head-and-body{

}

// 身 + 尾
.body-and-footer{

}

// 尾
.just-footer{

}

/**
 * @doc 退正库单
 * @author Heanes
 * @time 2017-10-27 11:55:40 周五
 */
.print-paper-content{
  table{
    margin:0 auto;
  }
  .print-paper-name{
    text-align:center;
    margin:0;
  }
  /**
   * @doc 二维码
   */
  .qrcode-wrap{
    text-align:center;
    .qrcode-show{
      display:inline-block;
      width: 60px;
      height: 60px;
    }
  }
  /**
   * @doc 一维码
   */
  .barcode-wrap{
    text-align:center;
  }

  .dispatch-data-table{
    font-size:12px;
    table{
      font-size:12px;
      thead th{
        text-align:center;
      }
      td:nth-child(1){
        width:40px;
        text-align:center;
      }
      td:nth-child(2){
        width:80px;
      }
      td:nth-child(3){
        width:80px;
      }
      td:nth-child(4){
        width:80px;
      }
      td:nth-child(5){
        width:240px;
      }
      td:nth-child(6){
        width:90px;
      }
      tbody{
        th,td{
          padding:4px;
          white-space:nowrap;
          overflow:hidden;
        }
      }
    }
  }

  .dispatch-info{
    table{
      font-size:14px;
      line-height:24px;
      &.separate-average-3{
        td{
          width:33.333%;
        }
      }
    }
  }

  .print-paper-pager{
    position:absolute;
    right:0;
    letter-spacing:3px;
  }
}

.print-group{
  width:$printPaperA4Width + 50px;
  margin:0 auto 10px;
  padding:10px;
  border:1px solid #ddd;
  .print-group-handle{
    width:$printPaperA4Width + 50px;
    border-bottom:1px solid #ddd;
    margin-bottom:10px;
  }
}

