@charset "UTF-8";

/**
 * @doc 收货确认单
 * @author Heanes
 * @time 2017-07-08 17:37:22 周六
 */

/**
 * @doc A4纸张大小
 * @author Heanes
 * @time 2017-10-27 10:21:33 周五
 */
$printPaperA4Width:1134px;
$printPaperA4Height:778px;
$printPaperA5Width:778px;
$printPaperA5Height:567px;

@media print {
  .no-print{ display:none;}
}

.print-end-page{
  page-break-after:always;
}

.print-list-handle{
  width:$printPaperA4Width;
  margin:0 auto;
  .to-print{
    margin-bottom:20px;
    text-align:right;
  }
}

.print-list-wrap{
  overflow-y:auto;
}
.receipts-delivered-paper{
  padding:10px;
}
/**
 * @doc 横向打印
 */
@page{
  size:landscape;
}

/**
 * @doc A4纸张大小
 * @author Heanes
 * @time 2017-10-27 10:21:33 周五
 */
.print-paper-a4{
  width:$printPaperA4Width;
  height:$printPaperA4Height;
  margin:0 auto;
}
/**
 * @doc A5纸张大小
 * @author Heanes
 * @time 2017-10-27 10:21:33 周五
 */
.print-paper-a5{
  width:$printPaperA5Width;
  height:$printPaperA5Height;
  margin:0 auto;
}

.print-paper {
  outline: 0;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
  animation: glow 1s ease-in-out;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  background-color:#fff;
  page-break-after: always;
}

.print-paper-footer{
  position:absolute;
  width:100%;
  bottom:0;
}

$receiptsDeliveredPrintPaddingTop:30px;
$receiptsDeliveredPrintPaddingBottom:50px;
.receipts-delivered-print{
  padding:$receiptsDeliveredPrintPaddingTop 50px $receiptsDeliveredPrintPaddingBottom;
  font-size:14px;
}
.print-paper-content{
  position:relative;
  height:100%;
  min-height:$printPaperA4Height - $receiptsDeliveredPrintPaddingTop - $receiptsDeliveredPrintPaddingBottom;
  padding-bottom:130px;
  page-break-after: always;
}

.print-paper-header{
  h1{margin-bottom:0;}
  .receipts-title{
    display:table;
    width:100%;
    margin-bottom:10px;
  }
  .receipts-title .cell{
    display:table-cell;
    width:33.333%;
    vertical-align:middle;
  }
  .receipts-title .cell .self-service-phone{font-size:20px;}
  .receipts-title .cell h1{font-size:22px;}
  .receipts-delivery-info{display:table;width:100%;margin-bottom:20px;}
  .receipts-delivery-info .cell{display:table-cell;width:33.333%;vertical-align:top;}
  .receipts-delivery-info .cell .h2-field{font-size:22px;font-weight:600;}
  .receipts-delivery-info .cell .delivery-type{text-align:center;margin-bottom:8px;}
  .receipts-delivery-info .ship-warehouse-info{font-weight:500;font-size:16px;}
}

.receipts-data-table{
  font-size:14px;
  height:470px;
  overflow:auto;
  table{
    font-size:14px;
    thead th{
      text-align:center;
    }
    td:nth-child(1){
      width:50px;
      text-align:center;
    }
    td:nth-child(2){
      width:120px;
    }
    td:nth-child(3){
      white-space:nowrap;
      width:340px;
    }
    td:nth-child(4){
      width:100px;
    }
    td:nth-child(5){
      width:100px;
    }
    td:nth-child(6){
      width:100px;
    }
    td:nth-child(7){
      width:100px;
    }
    tbody{
      th,td{
        padding:4px;
      }
    }
  }
}

.bar-code .receipts-title .cell{vertical-align:top;}
.bar-code .receipts-delivery-info .cell{vertical-align:bottom;}
.bar-code .receipts-delivery-info .cell:last-child{padding-left:3em;}

.cell dl.data-dl{margin-bottom:8px;}
.cell dl.data-dl:last-child{margin-bottom:0;}
.cell dl.data-dl{display:table;}
.cell dl.data-dl dt{min-width:70px;text-align:right;font-weight:normal;}
.cell dl.data-dl dt,
.cell dl.data-dl dd{display:table-cell;}

.receipts-summary, .receipts-signature{
  display:table;
  width:100%;
  .cell{
    display:table-cell;
    line-height:40px;
    &.col6{
      width:16.65%;
    }
  }

  .need-pay-info{
    font-size:20px;
    font-weight:600;
    white-space:nowrap;
  }
}

.print-paper-content .receipts-remark{color:#555;}
.print-paper-content .receipts-remark .remark-content{font-weight:normal;font-size:13px;}


.print-handle{
  width:$printPaperA4Width;
  text-align:right;
  margin:0 auto 20px;
}

// 头 + 身 + 尾
.head-and-body-and-footer{

}

// 头及身
.head-and-body{

}

// 身 + 尾
.body-and-footer{

}

// 尾
.just-footer{

}

/**
 * @doc 退正库单
 * @author Heanes
 * @time 2017-10-27 11:55:40 周五
 */
.print-paper-content{
  table{
    margin:0 auto;
  }
  .print-paper-name{
    text-align:center;
    margin:0;
  }
  /**
   * @doc 二维码
   */
  .qrcode-wrap{
    text-align:center;
    .qrcode-show{
      display:inline-block;
      width: 60px;
      height: 60px;
    }
  }
  /**
   * @doc 一维码
   */
  .barcode-wrap{
    text-align:center;
  }

  .dispatch-data-table{
    font-size:14px;
    height:470px;
    overflow:auto;
    table{
      font-size:14px;
      thead th{
        text-align:center;
      }
      td:nth-child(1){
        width:50px;
        text-align:center;
      }
      td:nth-child(2){
        width:120px;
      }
      td:nth-child(3){
        width:100px;
      }
      td:nth-child(4){
        width:100px;
      }
      td:nth-child(5){
        width:280px;
      }
      td:nth-child(6){
        width:160px;
      }
      tbody{
        th,td{
          padding:4px;
        }
      }
    }
  }

  .dispatch-info{
    table{
      font-size:14px;
      line-height:30px;
      &.separate-average-3{
        td{
          width:33.333%;
        }
      }
    }
  }

  .print-paper-pager{
    position:absolute;
    right:0;
    letter-spacing:3px;
  }
}

.print-group{
  width:$printPaperA4Width + 50px;
  margin:0 auto 10px;
  padding:10px;
  border:1px solid #ddd;
  .print-group-handle{
    border-bottom:1px solid #ddd;
    margin-bottom:10px;
  }
}

