@charset "UTF-8";
/**
 * @doc 打印商品签样式
 * @author Heanes
 * @time 2017-12-18 15:15:21 周一
 */

/**
 * @doc A4纸张大小
 * @author Heanes
 * @time 2017-10-27 10:21:33 周五
 */
$printPaperA4Width:836px;
$printPaperA4Height:1110px;
$printPaperA5Width:836px;
$printPaperA5Height:550px;

$printCommodityLabelPadding:30px 50px;

@media print {
  .no-print{ display:none;}
}

.print-end-page{
  page-break-after:always;
}


/**
 * @doc A4纸张大小
 * @author Heanes
 * @time 2017-10-27 10:21:33 周五
 */
.print-paper-a4{
  width:$printPaperA4Width;
  height:$printPaperA4Height;
  margin:0 auto;
}
/**
 * @doc A5纸张大小
 * @author Heanes
 * @time 2017-10-27 10:21:33 周五
 */
.print-paper-a5{
  width:$printPaperA5Width;
  height:$printPaperA5Height;
  margin:0 auto;
}

.print-paper {
  outline: 0;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
  animation: glow 1s ease-in-out;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  background-color:#fff;
  page-break-after: always;
}

.print-commodity-label{
  padding:$printCommodityLabelPadding;
  font-size:14px;

  width:$printPaperA5Width;
  height:$printPaperA5Height;
  margin:20px auto;
}

.print-list-handle{
  width:$printPaperA4Width + 50px;
  margin:0 auto;
  .to-print{
    margin-bottom:20px;
    text-align:right;
  }
}

.print-list-wrap{

  .print-paper-content{
    p,h1,h2,h3,h4,h5,h6{
      margin:0;
    }

    .qrcode-text{
      font-size:15px;
    }

    .sku-info{
      font-size:18px;
    }
    .supplier-info{
      font-size:20px;
    }

    .printer-info{
      font-size:16px;
    }
  }
}

.qrcode-wrap{
  display:table;
  width:100%;
}
.cell{
  display:table-cell;

  &.col2{
    width:50%;
  }
}
